<behavefactory>
   <lastids>
      <actionid>9</actionid>
      <beingid>4</beingid>
      <gatheringid>0</gatheringid>
      <envid>0</envid>
   </lastids>

   <impactparams>
      <currentmoodminintensity>-0.0010</currentmoodminintensity>
      <currentmoodmaxintensity>+0.0010</currentmoodmaxintensity>
      <biasmoodminintensity>-0.00001</biasmoodminintensity>
      <biasmoodmaxintensity>+0.00001</biasmoodmaxintensity>
      <envmoodminintensity>-0.0001</envmoodminintensity>
      <envmoodmaxintensity>+0.0001</envmoodmaxintensity>
      <relmoodminintensity>-0.0020</relmoodminintensity>
      <relmoodmaxintensity>+0.0020</relmoodmaxintensity>
   </impactparams>

   <comment>
   +--------------------+
   |  BEHAVIOUR CORE    |
   +--------------------+
   </comment>

   <action>talk
      <id>2</id>
      <mood>triggers
         <joy>0.0125</joy>
         <trust>0.1520</trust>
         <fear>0.0000</fear>
         <surprise>0.0000</surprise>
         <sadness>0.00</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.23</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.002</joy>
         <trust>0.00</trust>
         <fear>-0.08</fear>
         <surprise>0.00</surprise>
         <sadness>-0.104</sadness>
         <disgust>-0.008</disgust>
         <anger>-0.002</anger>
         <anticipation>0.36</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>-0.10</fear>
         <surprise>0.30</surprise>
         <sadness>-0.05</sadness>
         <disgust>-0.02</disgust>
         <anger>-0.08</anger>
         <anticipation>0.5300</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>talk,cheer,support,disrespect,argue,raisevoice
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
      </chainresponses>
   </action>
   <action>cheer
      <id>3</id>
      <mood>triggers
         <joy>0.1240</joy>
         <trust>0.0000</trust>
         <fear>0.0000</fear>
         <surprise>0.0673</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0000</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.0873</joy>
         <trust>0.000</trust>
         <fear>0.0000</fear>
         <surprise>0.0000</surprise>
         <sadness>-0.0362</sadness>
         <disgust>-0.0217</disgust>
         <anger>-0.0085</anger>
         <anticipation>0.0087</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.0925</joy>
         <trust>0.0872</trust>
         <fear>-0.0765</fear>
         <surprise>0.1276</surprise>
         <sadness>-0.0925</sadness>
         <disgust>-0.0575</disgust>
         <anger>-0.0062</anger>
         <anticipation>0.0000</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>cheer,hug,laughwith,dance
         <actionid>3</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>14</actionid>
      </chainresponses>
   </action>

   <action>support
      <id>4</id>
      <mood>triggers
         <joy>0.0000</joy>
         <trust>0.1072</trust>
         <fear>0.0000</fear>
         <surprise>0.0000</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0430</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.0000</joy>
         <trust>0.0000</trust>
         <fear>0.0000</fear>
         <surprise>0.0000</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.1876</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.0132</joy>
         <trust>0.0592</trust>
         <fear>-0.0965</fear>
         <surprise>0.0430</surprise>
         <sadness>-0.0082</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0632</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>cheer,hug,argue
         <actionid>3</actionid>
         <actionid>5</actionid>
         <actionid>9</actionid>
      </chainresponses>
   </action>

   <action>hug
      <id>5</id>
      <mood>triggers
         <joy>0.0000</joy>
         <trust>0.0830</trust>
         <fear>0.0000</fear>
         <surprise>0.0000</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0000</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.0316</joy>
         <trust>0.0132</trust>
         <fear>-0.0865</fear>
         <surprise>0.0000</surprise>
         <sadness>-0.0059</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0820</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.132</joy>
         <trust>0.096</trust>
         <fear>-0.085</fear>
         <surprise>0.0832</surprise>
         <sadness>-0.0125</sadness>
         <disgust>0.0000</disgust>
         <anger>-0.0056</anger>
         <anticipation>0.0082</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>cheer,hug,kiss,dance,seductivedance
         <actionid>3</actionid>
         <actionid>5</actionid>
         <actionid>13</actionid>
         <actionid>14</actionid>
         <actionid>15</actionid>
      </chainresponses>
   </action>

   <action>laughwith
      <id>6</id>
      <mood>triggers
         <joy>0.5060</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.00</surprise>
         <sadness>0.00</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.306</joy>
         <trust>0.020</trust>
         <fear>-0.032</fear>
         <surprise>0.013</surprise>
         <sadness>-0.190</sadness>
         <disgust>0.000</disgust>
         <anger>-0.067</anger>
         <anticipation>0.103</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.306</joy>
         <trust>0.026</trust>
         <fear>-0.038</fear>
         <surprise>0.105</surprise>
         <sadness>-0.160</sadness>
         <disgust>-0.039</disgust>
         <anger>-0.046</anger>
         <anticipation>0.148</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>hug,laughwith,dance
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>14</actionid>
      </chainresponses>
   </action>

   <action>laughat
      <id>7</id>
      <mood>triggers
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.00</surprise>
         <sadness>0.00</sadness>
         <disgust>0.1630</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>-0.180</joy>
         <trust>0.020</trust>
         <fear>0.000</fear>
         <surprise>0.012</surprise>
         <sadness>-0.200</sadness>
         <disgust>-0.020</disgust>
         <anger>-0.080</anger>
         <anticipation>0.038</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>-0.060</joy>
         <trust>-0.080</trust>
         <fear>-0.020</fear>
         <surprise>0.000</surprise>
         <sadness>0.160</sadness>
         <disgust>0.382</disgust>
         <anger>0.360</anger>
         <anticipation>-0.230</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>disrespect,argue,raisevoice,punch
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
      </chainresponses>
   </action>

   <action>disrespect
      <id>8</id>
      <mood>triggers
         <joy>0.0000</joy>
         <trust>0.0000</trust>
         <fear>0.0000</fear>
         <surprise>0.0000</surprise>
         <sadness>0.0862</sadness>
         <disgust>0.1532</disgust>
         <anger>0.1625</anger>
         <anticipation>0.0532</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.0000</joy>
         <trust>0.0000</trust>
         <fear>0.0086</fear>
         <surprise>0.0000</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0565</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0793</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>-0.0586</joy>
         <trust>-0.0862</trust>
         <fear>0.0068</fear>
         <surprise>0.0020</surprise>
         <sadness>0.0892</sadness>
         <disgust>0.0958</disgust>
         <anger>0.1062</anger>
         <anticipation>-0.0058</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>talk,laughat,disrespect,argue,raisevoice,punch
         <actionid>2</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
      </chainresponses>
   </action>

   <action>argue
      <id>9</id>
      <mood>triggers
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.00</surprise>
         <sadness>0.000</sadness>
         <disgust>0.6080</disgust>
         <anger>0.5075</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.068</fear>
         <surprise>0.000</surprise>
         <sadness>0.030</sadness>
         <disgust>0.010</disgust>
         <anger>-0.016</anger>
         <anticipation>0.217</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.074</fear>
         <surprise>0.000</surprise>
         <sadness>0.021</sadness>
         <disgust>0.006</disgust>
         <anger>0.008</anger>
         <anticipation>0.116</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>talk,support,disrespect,argue,raisevoice
         <actionid>2</actionid>
         <actionid>4</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
      </chainresponses>
   </action>

   <action>raisevoice
      <id>10</id>
      <mood>triggers
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.6740</disgust>
         <anger>0.6430</anger>
         <anticipation>0.5730</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>-0.087</surprise>
         <sadness>0.000</sadness>
         <disgust>-0.032</disgust>
         <anger>-0.103</anger>
         <anticipation>0.362</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>-0.362</joy>
         <trust>0.000</trust>
         <fear>0.216</fear>
         <surprise>0.360</surprise>
         <sadness>0.000</sadness>
         <disgust>0.018</disgust>
         <anger>0.196</anger>
         <anticipation>0.000</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>talk,support,laughat,disrespect,argue,
         raisevoice,punch,deescalate
         <actionid>2</actionid>
         <actionid>4</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>18</actionid>
      </chainresponses>
   </action>

   <action>punch
      <id>11</id>
      <mood>triggers
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.7080</disgust>
         <anger>0.7315</anger>
         <anticipation>0.000</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.020</joy>
         <trust>0.000</trust>
         <fear>0.041</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.000</disgust>
         <anger>-0.087</anger>
         <anticipation>0.0416</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>-0.279</joy>
         <trust>0.000</trust>
         <fear>0.107</fear>
         <surprise>0.00</surprise>
         <sadness>0.000</sadness>
         <disgust>0.418</disgust>
         <anger>0.389</anger>
         <anticipation>0.000</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>argue,punch,fight,deescalate
         <actionid>9</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>18</actionid>
      </chainresponses>
   </action>

   <action>fight
      <id>12</id>
      <mood>triggers
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.7635</disgust>
         <anger>0.7360</anger>
         <anticipation>0.000</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.000</joy>
         <trust>-0.206</trust>
         <fear>0.217</fear>
         <surprise>0.000</surprise>
         <sadness>0.087</sadness>
         <disgust>0.307</disgust>
         <anger>-0.104</anger>
         <anticipation>0.403</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.000</joy>
         <trust>-0.206</trust>
         <fear>0.217</fear>
         <surprise>0.000</surprise>
         <sadness>0.087</sadness>
         <disgust>0.307</disgust>
         <anger>-0.104</anger>
         <anticipation>0.403</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>punch,fight,deescalate
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>18</actionid>
      </chainresponses>
   </action>

   <action>kiss
      <id>13</id>
      <mood>triggers
         <joy>0.0000</joy>
         <trust>0.6810</trust>
         <fear>0.0000</fear>
         <surprise>0.0000</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0316</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.2635</joy>
         <trust>0.0286</trust>
         <fear>-0.0482</fear>
         <surprise>0.0000</surprise>
         <sadness>-0.0476</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.4315</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.0862</joy>
         <trust>0.0432</trust>
         <fear>0.0000</fear>
         <surprise>0.0386</surprise>
         <sadness>-0.0125</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.0000</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>kiss,seductivedance,makeout,deescalate
         <actionid>13</actionid>
         <actionid>15</actionid>
         <actionid>16</actionid>
         <actionid>18</actionid>
      </chainresponses>
   </action>

   <action>dance
      <id>14</id>
      <mood>triggers
         <joy>0.7125</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.000</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.213</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>-0.403</sadness>
         <disgust>0.000</disgust>
         <anger>-0.216</anger>
         <anticipation>0.000</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.182</joy>
         <trust>0.121</trust>
         <fear>0.000</fear>
         <surprise>0.613</surprise>
         <sadness>-0.387</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.368</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>introduce,talk,cheer,hug,laughwith,argue,kiss,
         dance,seductivedance,deescalate
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>9</actionid>
         <actionid>13</actionid>
         <actionid>14</actionid>
         <actionid>15</actionid>
         <actionid>18</actionid>
      </chainresponses>
   </action>

   <action>seductivedance
      <id>15</id>
      <mood>triggers
         <joy>0.000</joy>
         <trust>0.6590</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.5935</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.431</joy>
         <trust>0.128</trust>
         <fear>-0.158</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.197</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.000</joy>
         <trust>0.000</trust>
         <fear>0.000</fear>
         <surprise>0.306</surprise>
         <sadness>0.000</sadness>
         <disgust>0.163</disgust>
         <anger>0.000</anger>
         <anticipation>0.443</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>hug,laughwith,argue,punch,dance,seductivedance,makeout,
         deescalate         
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>9</actionid>
         <actionid>11</actionid>
         <actionid>14</actionid>
         <actionid>15</actionid>
         <actionid>16</actionid>
         <actionid>18</actionid>
      </chainresponses>
   </action>

   <action>makeout
      <id>16</id>
      <mood>triggers
         <joy>0.000</joy>
         <trust>0.7160</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.6630</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.336</joy>
         <trust>0.347</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>-0.213</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.115</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.163</joy>
         <trust>0.116</trust>
         <fear>0.000</fear>
         <surprise>0.000</surprise>
         <sadness>0.000</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.326</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>hug,laughwith,kiss,makeout,deescalate
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>13</actionid>
         <actionid>16</actionid>
         <actionid>18</actionid>
      </chainresponses>
   </action>

   <action>deescalate
      <id>18</id>
      <mood>triggers
         <joy>0.0000</joy>
         <trust>0.0000</trust>
         <fear>0.0872</fear>
         <surprise>0.0265</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.1276</disgust>
         <anger>0.0000</anger>
         <anticipation>0.2724</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.0000</joy>
         <trust>0.0279</trust>
         <fear>0.0089</fear>
         <surprise>0.0000</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.3423</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.0000</joy>
         <trust>0.0000</trust>
         <fear>0.1296</fear>
         <surprise>0.0496</surprise>
         <sadness>0.0000</sadness>
         <disgust>0.0000</disgust>
         <anger>0.0000</anger>
         <anticipation>0.1473</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>
         <comment>
            No chain responses for de-escalation.
         </comment>
      </chainresponses>
   </action>

   <comment>
   +--------------------+
   |  SCENARIO DATA     |
   +--------------------+
   </comment>

   <action>bob-laysbrick
      <id>100</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>0.6500</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>-0.20</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>0</requiresrelationship>
   </action>
   <action>bob-concreting
      <id>101</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>0.7500</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>-0.10</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>0</requiresrelationship>
   </action>
   <action>bob-landscaping
      <id>102</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>0.6000</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.20</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>-0.15</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>0</requiresrelationship>
   </action>
   <action>bob-plastering
      <id>103</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>0.7750</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>-0.10</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>0</requiresrelationship>
   </action>
   <action>bob-painting
      <id>104</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>0.6000</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.30</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>-0.30</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>0</requiresrelationship>
   </action>
   <action>jane-sell
      <id>105</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.6000</trust>
         <fear>0.0050</fear>
         <surprise>0.00</surprise>
         <sadness>0.00</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.6000</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.106</joy>
         <trust>0.05</trust>
         <fear>-0.02</fear>
         <surprise>0.01</surprise>
         <sadness>0.00</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>recipientreactions
         <joy>0.106</joy>
         <trust>0.046</trust>
         <fear>0.000</fear>
         <surprise>0.138</surprise>
         <sadness>-0.086</sadness>
         <disgust>0.000</disgust>
         <anger>0.000</anger>
         <anticipation>0.451</anticipation>
      </mood>
      <forgesrelationship>1</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
      <chainresponses>talk,cheer
         <actionid>2</actionid>
         <actionid>3</actionid>
      </chainresponses>
   </action>
   <action>jane-accounting
      <id>106</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.5650</fear>
         <surprise>0.00</surprise>
         <sadness>0.00</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.5200</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.00</joy>
         <trust>0.02</trust>
         <fear>-0.05</fear>
         <surprise>0.00</surprise>
         <sadness>-0.01</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>0</requiresrelationship>
   </action>
   <action>peter-solvecomputingproblem
      <id>107</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.7000</trust>
         <fear>0.5750</fear>
         <surprise>0.00</surprise>
         <sadness>0.00</sadness>
         <disgust>0.00</disgust>
         <anger>0.00</anger>
         <anticipation>0.7150</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>0.15</joy>
         <trust>0.05</trust>
         <fear>-0.02</fear>
         <surprise>0.01</surprise>
         <sadness>-0.05</sadness>
         <disgust>-0.1</disgust>
         <anger>-0.05</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>0</requiresrelationship>
   </action>
   <action>peter-actoutcybercrime
      <id>108</id>
      <mood>triggers
         <joy>0.00</joy>
         <trust>0.00</trust>
         <fear>0.00</fear>
         <surprise>0.00</surprise>
         <sadness>0.00</sadness>
         <disgust>0.8000</disgust>
         <anger>0.6500</anger>
         <anticipation>0.00</anticipation>
      </mood>
      <mood>instigatereactions
         <joy>-0.20</joy>
         <trust>-0.70</trust>
         <fear>0.18</fear>
         <surprise>0.50</surprise>
         <sadness>0.14</sadness>
         <disgust>0.27</disgust>
         <anger>0.02</anger>
         <anticipation>0.01</anticipation>
      </mood>
      <forgesrelationship>0</forgesrelationship>
      <requiresrelationship>1</requiresrelationship>
   </action>
   <being>Bob
      <comment>About Bob
         Bob is a tradesman. He can lay bricks, concrete yards, landscape,
         plaster and paint.
         For Bob to lay a brick, he needs to a trigger emotion which will cause
         him to take that action and also leave a reactional impact on his
         emotions.

         For this example, we assume that Bob has become a tradesman because he 
         finds that laying bricks brings some form of emotional response that
         counters the experiences that bring/brought sadness into his life.
         See, the thing with Bob is that when he was young he fell deeply in
         love with a young maiden who cheated on him and left him for some
         other dude. Being a creative person, Bob found his passion of brick
         work when he was with his father working on their house. Bob found that
         the process of laying bricks helped him feel relieved of the loss and
         he kind of kept going with it. This has brought him great joy.
         Therefore we can say that for Bob, laying bricks can be represented by
         the following triggers and reactions:
         triggers: sadness, reactions: joy
         For short these will be represented as action(sadness => joy)
         A bit more about Bob is that he has a close relationship with his
         father whose had a loss (his wife). This means that his father was
         protective and loving to Bob, maintained a good balance of love,
         camaraderie, trust and freedom. This has made Bob (who lost his mother)
         be of a great example to others' needs as he is sensitive and
         understanding of hardship. As a result, he also is a person who gets
         things done as he has grown to love brickwork.
         We can generally say that Bob's 'starting' mood (based only on the
         above conditions) are as follows:
         mood(joy:-0.25,trust:0.7,fear:0.4,surprise:0.12,sadness:0.4,
         disgust:0.2,anger:0.38,anticipation:0.2)
         Bob's level of trust in himself and his father has led him forward to
         expand on his skillset and he also became proficient in concreting
         yards, landscaping, plastering as well as painting. This has brought
         in more confidence and passion within him because he was more joyful,
         even more trusting, less fearful, and a bit more surprised as what he
         achieved felt really good.
         This has shifted his mood as follows:
         mood(joy:+0.4,trust:+0.2,fear:-0.25,surprise:+0.2,sadness:-0.5,
            disgust:-0.6,anger:-0.5,anticipation:+0.02)
         Following this, Bob's mood becomes:
         mood(joy:0.15,trust:0.9,fear:0.15,surprise:0.32,sadness:-0.1,
            disgust:-0.4,anger:-0.12,anticipation:0.22)
         As a result, we can say that Bob's general mood has shifted from one
         mood to the other. An action was triggered because of his emotions
         which has left him with a reactive emotional response. This can
         subsequently trigger more actions to be taken, forming a chain reaction
         of events and emotional shifts.
      </comment>
      <id>1</id>
      <mood>bias
         <comment>
            The bias should ideally be formed starting from 0. This will give
            a model the opportunity to start from scratch. A being will then
            have all actions impacted upon recorded throughout their lifetime.
            The bias would also reflect the real scenario partaking to all the
            actions involved.
         </comment>
         <joy>0.5625</joy>
         <trust>0.8500</trust>
         <fear>0.7000</fear>
         <surprise>0.5600</surprise>
         <sadness>0.7000</sadness>
         <disgust>0.6000</disgust>
         <anger>0.6900</anger>
         <anticipation>0.6000</anticipation>
      </mood>
      <mood>currentmood
         <joy>0.1250</joy>
         <trust>0.8500</trust>
         <fear>0.7000</fear>
         <surprise>0.5600</surprise>
         <sadness>0.7000</sadness>
         <disgust>0.6000</disgust>
         <anger>0.6900</anger>
         <anticipation>0.6000</anticipation>
      </mood>
      <actableactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>100</actionid>
         <actionid>101</actionid>
         <actionid>102</actionid>
         <actionid>103</actionid>
         <actionid>104</actionid>
      </actableactions>
      <impactactions>
         <comment>
            No actions recorded initially. By right, these should be all the
            actions the being has been influenced by to cause him to be in the
            current bias mood.
         </comment>
      </impactactions>
   </being>
   <being>Jane
      <comment>About Jane
         Jane has been brought up under a strict father who wanted her to
         succeed in life and therefore has been pushed to achieve a lot of
         targets. Her mother also instilled in her the importance of success and
         as a result Jane hasn't really focused much on relationships. Jane has
         been focusing on selling products and built her knowledge of accounting
         while she was working for a small business. Jane's initial disposition
         is:
         mood(joy:-0.18,trust:0.28,fear:0.35,surprise:-0.2,sadness:0.004,
            disgust:-0.7,anger:-0.4,anticipation:0.32)
      </comment>
      <id>2</id>
      <mood>bias
         <joy>0.0900</joy>
         <trust>0.6400</trust>
         <fear>0.6750</fear>
         <surprise>0.1000</surprise>
         <sadness>0.5020</sadness>
         <disgust>0.3500</disgust>
         <anger>0.2000</anger>
         <anticipation>0.6600</anticipation>
      </mood>
      <mood>currentmood
         <joy>0.0900</joy>
         <trust>0.6400</trust>
         <fear>0.6750</fear>
         <surprise>0.1000</surprise>
         <sadness>0.5020</sadness>
         <disgust>0.3500</disgust>
         <anger>0.2000</anger>
         <anticipation>0.6600</anticipation>
      </mood>
      <actableactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>105</actionid>
         <actionid>106</actionid>
      </actableactions>
      <impactactions>
      </impactactions>
   </being>
   <being>Peter
      <comment>About Peter
         Peter has been bullied when he was much younger and as a result, he
         ended up not socializing a lot. He resorted to the life of computers
         and when he was young found pleasure in trying to break into computer
         systems or build new models. As a result he has a lot of experience in
         his field and knows his stuff. He is considered an elite in his field.
         Peter remained single because he grew up as a reserved person. Peter's
         initial disposition is:
         mood(joy:-0.4,trust:0.2,fear:0.56,surprise:-0.4,sadness:-0.4,
            disgust:0.002,anger:0.64,anticipation:0.6)
      </comment>
      <id>3</id>
      <mood>bias
         <joy>0.2000</joy>
         <trust>0.6000</trust>
         <fear>0.7800</fear>
         <surprise>0.2000</surprise>
         <sadness>0.2000</sadness>
         <disgust>0.0010</disgust>
         <anger>0.3200</anger>
         <anticipation>0.8000</anticipation>
      </mood>
      <mood>currentmood
         <joy>0.2000</joy>
         <trust>0.6000</trust>
         <fear>0.7800</fear>
         <surprise>0.2000</surprise>
         <sadness>0.2000</sadness>
         <disgust>0.0010</disgust>
         <anger>0.3200</anger>
         <anticipation>0.8000</anticipation>
      </mood>
      <actableactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>107</actionid>
         <actionid>108</actionid>
      </actableactions>
      <impactactions>
      </impactactions>
   </being>
   <being>Alice
      <comment>About Alice
         Alice had a lot of freedom when she was young and was allowed to pursue
         all that she desired. She played guitar, rode bikes, travelled, and
         done a lot of fun stuff. She is a little bit of an entrepreneur and has
         been trying to set up a business of her own by selling some home made
         candles, and other paraphernalia. While her financial health is not
         very strong, she still enjoys a wealthy life emotionally and that is
         what's most important for her. Alice's initial disposition is as
         follows:
         mood(joy:0.6,trust:0.002,fear:0.2,surprise:0.4,sadness:0.158,
            disgust:-0.72,anger:-0.42,anticipation:0.463)
      </comment>
      <id>4</id>
      <mood>bias
         <joy>0.8000</joy>
         <trust>0.5010</trust>
         <fear>0.6000</fear>
         <surprise>0.7000</surprise>
         <sadness>0.5790</sadness>
         <disgust>0.3600</disgust>
         <anger>0.2100</anger>
         <anticipation>0.7315</anticipation>
      </mood>
      <mood>currentmood
         <joy>0.8000</joy>
         <trust>0.5010</trust>
         <fear>0.6000</fear>
         <surprise>0.7000</surprise>
         <sadness>0.5790</sadness>
         <disgust>0.3600</disgust>
         <anger>0.2100</anger>
         <anticipation>0.7315</anticipation>
      </mood>
      <actableactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
      </actableactions>
      <impactactions>
      </impactactions>
   </being>
   <env>Portland Residential
      <comment>
         Environments provide a playground for all the actors
         (beings and gatherings) to act (actions) together or within
         the environment.
         Portland Residential is where Bob works. He goes there to
         build houses at this time!
      </comment>
      <id>1</id>
      <possibleactions>jane-sell
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>100</actionid>
         <actionid>101</actionid>
         <actionid>102</actionid>
         <actionid>103</actionid>
         <actionid>104</actionid>
         <actionid>105></actionid>
      </possibleactions>
   </env>
   <env>Bob's house
      <id>2</id>
      <possibleactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>101</actionid>
         <actionid>102</actionid>
         <actionid>103</actionid>
         <actionid>104</actionid>
         <actionid>105</actionid>
         <actionid>107</actionid>
         <actionid>108</actionid>
      </possibleactions>
   </env>
   <env>Portland school
      <id>3</id>
      <possibleactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>100</actionid>
         <actionid>101</actionid>
         <actionid>102</actionid>
         <actionid>103</actionid>
         <actionid>104</actionid>
         <actionid>105</actionid>
         <actionid>106</actionid>
         <actionid>107</actionid>
         <actionid>108</actionid>
      </possibleactions>
   </env>
   <env>Portland church
      <id>4</id>
      <possibleactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>100</actionid>
         <actionid>101</actionid>
         <actionid>102</actionid>
         <actionid>103</actionid>
         <actionid>104</actionid>
         <actionid>106</actionid>
         <actionid>107</actionid>
         <actionid>108</actionid>
      </possibleactions>
   </env>
   <env>Portland public park
      <id>5</id>
      <possibleactions>
         <actionid>1</actionid>
         <actionid>2</actionid>
         <actionid>3</actionid>
         <actionid>4</actionid>
         <actionid>5</actionid>
         <actionid>6</actionid>
         <actionid>7</actionid>
         <actionid>8</actionid>
         <actionid>9</actionid>
         <actionid>10</actionid>
         <actionid>11</actionid>
         <actionid>12</actionid>
         <actionid>100</actionid>
         <actionid>101</actionid>
         <actionid>102</actionid>
         <actionid>103</actionid>
         <actionid>104</actionid>
         <actionid>105</actionid>
      </possibleactions>
   </env>
</behavefactory>
